{% load staticfiles %}
<div id="about" class="content">
   <div class="col-2-3">

        <h3>Hello there.</h3> <p>I'm a former neuroscience grad student, now doing computer programming. </p>

        <p>I've worked on some interesting projects, as you can see in my <a href="" class="pastworklink">past work</a>.</p>

        <p>My areas of specialty are back-end coding and infrastructure, and processing and analysis of data.</p>

        <p>Some of my favorite tools are Python, Django, Javascript, MATLAB, and Linux.</p>

        <p>If you have a project that uses these technologies and needs development help, <a href="" class="contactlink">contact me</a>.</p>
        <noscript><h2>contact: {{ settings.EMAIL }}</h2></noscript>
    </div>
</div>
