{% load staticfiles %}
<div id="about" class="content">
  <div class="col-2-3">
     <h1>Eric Blincow / Software Consulting</h1>
         <p>Hello there. I'm a former neuroscience grad student turned software consultant. I've worked on some interesting projects, as you can see in my <a href="" class="pastworklink">past work</a>. My areas of specialty are back-end coding and infrastructure,
         and processing and analysis of data.</p>
         <p>Some of my favorite tools are Python, Django, Javascript, MATLAB, and Linux.</p>

         <p>Do you need software that solves a hard data problem?</p>
         <p>Are you looking for back-end development help, at any stage in the software life cycle? </p>
         <p>I can help you with that. Just <a href="" class="contactlink">drop me a line</a>, and we can discuss the goals and needs of your project.</p>
         <p>Thanks and have an A1 day!</p>
      <noscript><h2>contact: eric@eblincow.com</h2></noscript>
  </div>
  <div class="col-1-3">
      <div class="piccontainer">
          <img class="pic" src={% static 'eric.jpg' %}>
      </div>
  </div>
</div>