{% load staticfiles %}
<html>

<!-- <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Inconsolata|Droid+Sans"> -->
<link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}">
<script src="{% static 'jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'homepage.js' %}"></script>


<title>Blincow Software Consulting</title>
<body>


<div id="tabs">
<ul class="tabrow">
    <li class="aboutlink selected">about</li>
    <li class="pastworklink">past work</li>
    <li class="contactlink">contact</li>
    <li class="loginlink">client login</li>
    <li style="background: none; border:none;">
        <div class="piccontainer">
            <a href="https://github.com/eblincow"><img src="{% static 'GitHub_Logo.png' %}" id="githubpic"></a>
        </div>
    </li>
    <li style="background: none; border:none;">
        <div class="piccontainer">
            <a href="https://www.linkedin.com/pub/eric-blincow/57/8a4/b25"><img src="{% static 'linkedin.jpg' %}" id="linkedpic"></a>
        </div>
    </li>
</ul>

</div>



{% include 'about.html' %}
{% include 'contact.html' %}
{% include 'pastwork.html' %}
{% include 'login.html' %}




<footer>
    <div class="footerpic">
        <img src="{% static 'peace.gif' %}" id="peacepic">

    </div>
    <hr class="style-eight">


</footer>


</body>



</html>

