{% load staticfiles %}
<div id="login" class="content hidden">
    <div class="col-2-3">
        <h1>login</h1>

            <form method="POST" action="login">
                {% csrf_token %}
                <div><p>user <input type="text" name="u" maxlength="10" size="10"></p></div>

                <div><p>pass <input type="text" name="p" maxlength="10" size="10"></p></div>
                <input type="submit" value="ok">
            </form>
    </div>


    <div class="col-1-3">
        <div class="piccontainer">
            <!-- b64'd mock image for deferring -->
            <img class="pic" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                 data-src={% static 'puppy1.jpg' %}>
        </div>
    </div>
</div>
