{% load staticfiles %}
<div id="pastwork" class="content hidden">
  <div class="col-2-3">

      <h1>Past work</h1>
      <hr>
      <h2>jstor.org</h2>
      Working with several other developers, I helped to implement snippet text displays, text-highlighting, chapter results, migration/reimplementation of several externally
      hosted pages, lots of javascript analytics and back-end infrastructure issues for www.jstor.org. I was very involved in working with external service calls and data marshalling, UI/javascript tweaks, app infrastructure and analytics.

      <h2>Vectorform / HBG USA</h2>
      I wrote and implemented an interactive eBook preview creation program and publishing front-end. The program allows an administrative user to create
      a variety of different previews for each eBook and to control how they are displayed. Currently in use on Amazon.com.

      <h2>Michigan Roundtable</h2>
      I used Python to automate database operations and data analysis for the Michigan Equity Network, a state-wide network of 30,000 individuals interested in promoting social activism in Michigan.

      <h2>Neuroscience data analysis</h2>
      I wrote MATLAB processing scripts to analyze neuronal spiking patterns in locust visual neurons. The resulting data was presented at the Society for Neuroscience Annual meeting 2012.
      I performed the statistical analysis of locust neuron activity that is presented in this paper. The experimental results presented in my master's thesis were incorporated into this paper.
      We used MATLAB, R and Sigmaplot for data processing, and a custom-built OpenGL/Python program to stimulate insects visually.

       <h2>Tic-tac-toe</h2>
      I wrote an unbeatable implementation of tic-tac-toe in Go using the QML graphics library. It is buggy and the graphics libraries are difficult to install,
      so I wrote a plaintext version in Python that would always work and required no graphics. The Python program uses a more sophisticated algorithm.

      <h2>Assembly simulators</h2>
      I wrote some toy programs for assembly simulators. The purpose was to demonstrate some basic concepts like hexadecimal math, branch tables and stack frames.

      <h2>Family Historian Robot</h2>
      I wrote a family history robot to entertain my niece and nephew, called 'Robot Chicken James', which reads out episodes of my families' history and references inside jokes we have.
      It uses a text-to-speech API to read the stories in a robot voice and an ncurses-binding to provide old-school looking ascii menus. It was well received.
  </div>

</div>