{% load staticfiles %}
<div id="pastwork" class="content hidden">
  <div class="col-2-3">

      <h1>Past work</h1>
      <hr>
      <h2>jstor.org</h2>
      Working with several other developers, I helped to implement snippet text displays, text-highlighting, chapter results, migration/reimplementation of several externally
      hosted pages, lots of javascript analytics and back-end infrastructure issues for <a href="http://www.jstor.org" target="_blank">www.jstor.org</a>. My primary focus was working with external service calls and data marshalling, UI/javascript tweaks, app infrastructure and analytics.

      <h2>Vectorform / HBG USA</h2>
      I wrote and implemented an interactive eBook preview creation program and publishing front-end. The program allows an administrative user to create
      a variety of different previews for each eBook and to control how they are displayed. Currently in use on <a href="http://openbook.hbgusa.com/openbook/9780316204385" target="_blank">hbgusa.com</a>.

      <h2>Michigan Roundtable</h2>
      Using Python, I helped automate database operations and data analysis for the <a href="http://www.wkkf.org/grants/grant/2011/12/michigan-racial-equity-network-3019597" target="_blank">Michigan Equity Network</a>, a state-wide network of 30,000 individuals interested in promoting social activism in Michigan.

      <h2>Neuroscience data analysis</h2>
      I wrote some MATLAB processing scripts to analyze neuronal spiking patterns in locust visual neurons. The resulting data was presented at the <a href="http://www.abstractsonline.com/plan/ViewAbstract.aspx?cKey=7234e2d9-ffa2-482a-aa1f-bd43111bb68b&mID=2773&mKey=%7b8334BE29-8911-4991-8C31-32B32DD5E6C8%7d&sKey=dd12255f-158a-4cd0-b13f-2bf85d0cdd7b" target="_blank">Society for Neuroscience Annual meeting 2011</a>.
      Also carried out the statistical analysis of locust neuron activity that is presented in <a href="http://www.ncbi.nlm.nih.gov/pubmed/20827481" target="_blank">this paper</a>. The experimental results presented in my master's thesis were incorporated into <a href="http://www.ncbi.nlm.nih.gov/pubmed/21994271" target="_blank">this paper</a>.
      We used MATLAB, R and Sigmaplot for data processing, and a custom-built OpenGL/Python program to stimulate insects visually.

       <h2>Tic-tac-toe</h2>
      I wrote an <a href="https://github.com/eblincow/taq" target="_blank">unbeatable implementation of tic-tac-toe</a> in Go using the QML graphics library. It is buggy and the graphics libraries are difficult to install,
      so I wrote a plaintext <a href="https://github.com/eblincow/toh" target="_blank">version in Python</a><i>(work in progress)</i> that would always work and required no graphics. I much prefer the Python program.

      <h2>Assembly simulators</h2>
      <a href="http://stackoverflow.com/users/16007/dwelch" target="_blank">David Welch</a> briefly mentored me in assembly language. I wrote some <a href="https://github.com/eblincow/ASMfun" target="_blank">toy programs</a> for his <a href="https://github.com/dwelch67" target="_blank">assembly simulators</a>. The purpose was to demonstrate some basic concepts like hexadecimal math, branch tables and stack frames.

      <h2>Family Historian Robot</h2>
      I wrote a <a href="https://github.com/eblincow/rcj" target="_blank">family history robot</a> to entertain my niece and nephew, called 'Robot Chicken James', which reads out episodes of my families' history and references inside jokes we have.
      It uses a text-to-speech API to read the stories in a robot voice and an ncurses-binding to provide old-school looking ascii menus. It was well received.
  </div>

    <div class="col-1-3">
          <div class="piccontainer">
              <img class="pic" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src={% static 'fun.jpg' %}>
          </div>
    </div>
</div>