/* css styles for the homepage! */

body {
    background: #FFFFCC;
    font-family: "Droid Sans", "Lucida Console", serif;
    margin: 0 0 80px; /* bottom = footer height */
}


.container {
width: 800px;
margin-right: auto;
margin-left: auto;
}



a {
    cursor: pointer;
    font-weight: bold;
}

.tabrow {
    text-align: center;
    font-family: "Inconsolata";
    margin: 0px;
    padding: 0px;
}

.tabrow li {
    margin: 0px;
    color: #99EBFF;
    cursor: pointer;
    padding: 9px 6px;
    background: #000;
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
    font-size: larger;
}

.tabrow li.selected {
    color: #FFD6EB;
}

[class*='col-'] {
    float: left;
    padding-top: 5px;
}

.col-2-3 {
    width: 66.66%;
    padding-left: 10%;
    padding-right: 20px;
    margin-bottom: 100px;
}

#pastwork h1 {
    margin-bottom: 10px;
}
#pastwork h2 {
    margin-top: 33px;
}

#pastwork span {
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(255,255,231);
}

.email {
    margin-top: 12%;
}

.email span {
    background: rgb(255,255,231);
    padding: 15px;
    font-weight: bold;
    font-size: 15pt;
}

#about p {
    font-size: 12pt;
}

#title {
    text-align: center;
    background: rgb(255, 255, 231);
}

#title h1 {
    font-family: "Inconsolata","serif";
    font-variant: small-caps;
    margin-bottom: 5px;
    margin-top: 0px;
}

.col-1-3 {
    width: 33.33%;
    padding-right: 3%;
    padding-left: 3%;
}


*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.pic {
    position: absolute;
    width: 100%;
    max-width: 200px;
    top: 0;
    left: 0;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.piccontainer {
    position: relative;
    margin-top: 28px;
    padding-top: 10px;
}

#peacepic {
    height: 70px;
}

.hidden {
    display: none;
}

footer {
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 72px;
    background: rgb(255, 255, 231);
    z-index: 1;
}

.footerpic {
    position: absolute;
    left: 88%;
    bottom: -10px;
}

hr.style-eight {
    margin: 0;
    padding: 0;
    border: none;
    border-top: thick ridge wheat;
    text-align: center;
}


/* Smartphones and tablets and such */
@media only screen
and (max-width: 595px) {
    footer {  display: none;  }
    h1, h2 {  font-size: 16pt; font-weight: bolder;  }
    .col-2-3 {
        width: 100%;
        margin-bottom: 0px;
        max-width: 400px;
        padding-left: 3%;
        padding-right: 3%;

    }
    .col-1-3 {  width: 100%;  }
    * {  font-size: large;  }
}



/* firefox targeted CSS */

@-moz-document url-prefix() {
    hr.style-eight {
    margin: -3px;
    }
}


